<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SyllaCode is a learning app for coders who want to design a personal learning path to success.">
    <meta name="author" content="Team Awesome">

    <!-- Latest compiled and minified CSS (via CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap Core CSS (local) -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    {{!-- <!-- MetisMenu CSS -->
    <link href="/stylesheets/metismenu.min.css" rel="stylesheet"> --}}


    <!-- Morris Charts CSS -->
    <link href="/stylesheets/morris.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/landing-page.css" rel="stylesheet">
    <link href="stylesheets/admin_style.css" rel="stylesheet" />
    <link href="stylesheets/main-style.css" rel="stylesheet" />
     

     <link href="/stylesheets/style.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

	<body>
   
		
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> 



        {{{ body }}}


 <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>


     <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/metismenu.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/javascripts/raphael.min.js"></script>

    <script src="/javascripts/morris.min.js"></script>

    <script src="/javascripts/planner.js"></script>
    <!-- Custom Theme JavaScript -->
     <script src="javascripts/siminta.js"></script>

    <!-- Latest compiled and minified JavaScript (via CDN) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	</body>

</html>
	


