
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1>SyllaCode</h1>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger"></span><i class="fa fa-envelope fa-3x"></i>
                    </a>
                    <!-- dropdown-messages -->
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-danger"></span></strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                                <div></div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-info"></span></strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                                <div></div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-success"></span></strong>
                                    <span class="pull-right text-muted">
                                        <em></em>
                                    </span>
                                </div>
                                <div>.</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong></strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-messages -->
                </li>

                

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-warning">5</span>  <i class="fa fa-bell fa-3x"></i>
                    </a>
                    <!-- dropdown alerts-->
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i>
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i>
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong></strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-alerts -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="images/user.jpg" alt="Picture of you">
                            </div>
                            <div class="user-info">
                    
                                <h4> {{email}}</h4>
                                <h5> Member since {{date}}</h5>
                                           
                
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris Charts</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a href="timeline.html"><i class="fa fa-flask fa-fw"></i>Timeline</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i>Tables</a>
                    </li>
                    <li>
                        <a href="/forms"><i class="fa fa-edit fa-fw"></i>Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i>UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i>Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- third-level-items -->
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i>Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <!-- Welcome -->
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <i class="fa fa-folder-open"></i><b>&nbsp;Hello ! </b>Welcome Back! <b></b>
 
                    </div>
                </div>
                <!--end  Welcome -->
            </div>


            <div class="row">
                <!--quick info section -->
                <div class="col-lg-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Resources

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-road fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Paths 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-calendar fa-3x"></i>&nbsp;&nbsp;Events

                    </div>
                </div>
                <!--end quick info section -->
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Add a Resource
                            
                        </div>
                        <br>
                        {{!-- <div class="container"> --}}
  <form>
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-2 col-form-label">&nbsp;Title</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLink" class="col-sm-2 col-form-label">&nbsp;Link</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputLink" placeholder="http://">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTags" class="col-sm-2 col-form-label">&nbsp;Tags</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputTags" placeholder="Tags">
      </div>
    </div>
      <div class="form-group row">
        <label for="exampleSelect1" class="col-sm-2 col-form-label">&nbsp;Difficulty</label>

            <select class="form-control" id="difficulty">

        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
       </select>
      </div>
    </div>   
   </form>
            
                    <!--End area chart example -->
                   
                    <!--End simple table example -->

               </div>

                <div class="col-lg-4 roadmap">
                  <div id="vert-line">
                      <div>
                          <ul class="modules">
                              <li><img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/CLISK_1334741064.jpg"/></li>
                              <li><img src="http://www.codingdojo.com/blog/wp-content/uploads/css.jpg"/></li>
                              <li><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQSeFsPuzGf-2CWlmxQPCps8AGYksqJ015YqEdD8qL1AB5cansq"/></li>
                              <li><img src="http://www.priyamaithani.com/logos/javascript.png"/></li>
                          </ul>
                      </div>
    
                  </div>

                </div>

            
    <!-- WEEKLY PLANNER -->

    <div class="col-lg-4">
                
         <h2 class="text-center">Weekly Planner</h2>

          <!-- Pop-up dialog for add topic button -->
            <div id="dialog" title="Add Topic">
              <form>
                <input id="userTopic" type="text"></input>  
                <fieldset>
                  <legend>Select days:</legend>
                  <label class="days-label" for="checkbox-1">Sunday</label>
                  <input class="days" type="checkbox" value="sunday" id="checkbox-1">
                  <label class="days-label" for="checkbox-2">Monday</label>
                  <input class="days" type="checkbox" value="monday" id="checkbox-2">
                  <label class="days-label" for="checkbox-3">Tuesday</label>
                  <input class="days" type="checkbox" value="tuesday" id="checkbox-3">
                  <label class="days-label" for="checkbox-4">Wednesday</label>
                  <input class="days" type="checkbox" value="wednesday" id="checkbox-4">
                  <label class="days-label" for="checkbox-5">Thursday</label>
                  <input class="days" type="checkbox" value="thursday" id="checkbox-5">
                  <label class="days-label" for="checkbox-6">Friday</label>
                  <input class="days" type="checkbox" value="friday" id="checkbox-6">
                  <label class="days-label"  for="checkbox-7">Saturday</label>
                  <input class="days" type="checkbox" value="saturday" id="checkbox-7">
                </fieldset>
                <input id="submit" type="submit">
              </form>
            </div>

        <!-- Accordion to hold content for each day of the week -->
        <div id="accordion">
            <h3>Sunday</h3>
            <div></div>
            <h3>Monday</h3>
            <div></div>
            <h3>Tuesday</h3>
            <div></div>
            <h3>Wednesday</h3>
            <div></div>
            <h3>Thursday</h3>
            <div></div>
            <h3>Friday</h3>
            <div></div>
            <h3>Saturday</h3>
            <div></div>
        </div>

        <br><br>

        <button id="opener" class="btn btn-primary">Add Topic</button>
    </div>
   </div>

        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

