
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">
                    <h1>SyllaCode</h1>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                
                    <!-- end dropdown-alerts -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
          </nav>
        <!-- end navbar top -->
        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-info">
                                <h4> {{email}}</h4>
                                <h5> Member since {{date}}</h5>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
     <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <!--End Page Header -->
            </div>
            <div class="row">
                <!-- Welcome -->
                <div class="col-xs-12">
                </div>
                <!--end  Welcome -->
            </div>
            <div class="row">
                <!--quick info section -->
                <div class="col-xs-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Resources
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-road fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Paths 
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-calendar fa-3x"></i>&nbsp;&nbsp;Weekly Planner

                    </div>
                </div>
                <!--end quick info section -->
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Add a Resource
                            
                        </div> <!-- CLOSE PANEL-HEADING -->
                        <br>
                       
  <form>
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-2 col-form-label">&nbsp;Title</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLink" class="col-sm-2 col-form-label">&nbsp;Link</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputLink" placeholder="http://">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTags" class="col-sm-2 col-form-label">&nbsp;Tags</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputTags" placeholder="Tags">
      </div>
    </div>
      <div class="form-group row">
        <label for="difficulty" class="col-sm-2 col-form-label">&nbsp;Difficulty</label>
            <select class="form-control" id="difficulty">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select>
       </div> <!--========= CLOSE ROW FOR DIFFICULTY SETTING ===========-->
      </form>
     </div><!--===========CLOSE PANEL PRIMARY ===============================-->
    </div> <!--========== CLOSE RESOURCE CARD COLUMN ===========================--> 

<!--====================ROADMAP COLUMN=======================================-->
                    <!-- Begin Roadmap column -->
                <div class="col-xs-4 roadmap">
                  <div id="vert-line">
                      <div>
                          <ul class="modules">
                              <li><img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/CLISK_1334741064.jpg"/></li>
                              <li><img src="http://www.codingdojo.com/blog/wp-content/uploads/css.jpg"/></li>
                              <li><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQSeFsPuzGf-2CWlmxQPCps8AGYksqJ015YqEdD8qL1AB5cansq"/></li>
                              <li><img src="http://www.priyamaithani.com/logos/javascript.png"/></li>
                          </ul>
                      </div> <!-- closes modules container -->
    
                  </div> <!-- closes vert line -->

                </div> <!-- closes Roadmap column -->
<!--===============CLOSE ROADMAP COLUMN====================================-->
   </div>
  </div>
 </div>
</div>

   

 

   
   

