<div class="container-fluid sign-up">
      

<h1>New to SyllaCode?</h1>
<h2>{{title}}</h2>
<br>


        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control-sign-up" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control-sign-up" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Create Account</button>
        </form>
        <br />
        <p>Or login here <a href="/">here</a></p>

    </div> <!-- closes container -->